{% extends "base.html" %}
<!-- Title -->
{% block title %}
&nbsp;-&nbsp;Register
{% endblock %}

<!-- CSS -->
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/register.css')}}">
{% endblock %}

{% block main %}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center mb-3">
        <div class="d-flex flex-column col-12 col-xl-8 p-5 gap-3" id="auth-container">
            <form class="needs-validation" method="post" action="{{url_for('auth.register')}}" id="contact-form" novalidate>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="d-flex flex-column align-self-start">
                            <h1 class="mb-4" id="contact-title">REGISTER</h1>
                            <div class="form-box mb-3">
                                <input class="form-input form-control" type="text" name="name" placeholder="Name" autocomplete="off" autocapitalize="words" minlength="5" maxlength="100" pattern="^[A-Za-zÀ-ÿ]+(?:\s+[A-Za-zÀ-ÿ]+)+$" required>
                                <div class="invalid-feedback">
                                    Please insert your name.
                                </div>
                            </div>
                            <div class="form-box mb-3">
                                <input class="form-input form-control" type="text" name="username" placeholder="Username" autocomplete="off" autocapitalize="words" minlength="5" maxlength="100" pattern="^[A-Za-z0-9_]{3,12}$" required>
                                <div class="invalid-feedback">
                                    Please insert your username.
                                </div>
                            </div>
                            <!-- <div class="form-box mb-3">
                                <input class="form-input form-control" type="email" name="email" placeholder="Email" autocomplete="off" minlength="6" maxlength="254">
                                <div class="invalid-feedback">
                                    Please insert a valid email.
                                </div>
                            </div> -->
                            <div class="form-box mb-3">
                                <input class="form-input form-control" id="password" type="password" name="password" placeholder="Password" autocomplete="off" minlength="3" maxlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,16}$" required>
                                <div class="invalid-feedback">
                                    Please insert a valid password.
                                </div>
                            </div>
                            <div class="form-box mb-3">
                                <input class="form-input form-control" id="confirm-password" type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off" minlength="3" maxlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{6,16}$" required>
                                <div class="invalid-feedback">
                                    Passwords don't match!
                                </div>
                            </div>
                            <div class="form-check mb-4">
                                <input type="checkbox" class="form-check-input" id="termsAndConditions" autocomplete="off" required>
                                <span class="disclaimers ms-2" for="termsAndConditions">
                                    I have read and accept the <a class="disclaimer-link" href="{{url_for('main.privacy')}}" target="_blank">terms and conditions</a>
                                </span>
                                <div class="invalid-feedback">
                                    You need to accept the terms and conditions to proceed.
                                </div>
                            </div>
                            <div class="form-box mb-3">
                                <input class="btn btn-lg" id="submit-form-button" type="submit" name="submit" value="Enviar">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

<!-- Scripts -->
{% block js %}
    <script src="{{url_for('static', filename='js/auth.js')}}"></script>
{% endblock %}