#auth-container {
    position: relative;
    border-radius: 20px;
    font-family: var(--textFont);
    user-select: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#auth-container::before {
    content: "";
    position: absolute;
    background-color: var(--accentColor);
    border-radius: 20px;
    opacity: .7;
    inset: 0;
    width: 100%;
    height: 100%;
}

#contact-title {
    z-index: 100;
    font-size: 3rem;
    font-weight: 900;
    color: var(--primaryColor);
    font-family: var(--titleFont);
}

.form-input {
    display: flex;
    padding: .2rem .6rem;
    background-color: rgba(255, 255, 255, .35);
    outline: none;
    border: none;
    border-radius: 0.35rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    color: var(--secundaryColor);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
}

.form-input:hover {
    transform: scale(1.002);
    box-shadow: 0  1px 2px rgba(100, 162, 255, 0.15);
}

.form-input:focus {
    transform: scale(1.002);
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0  1px 2px rgba(100, 162, 255, 0.15);
}

.form-input::placeholder {
    color: var(--secundaryColorText);
    opacity: .85;
}

#submit-form-button {
    text-decoration: none;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: var(--primaryFont);
    letter-spacing: 0.08rem;
    color: var(--secondaryColor);
    background-color: rgba(var(--primaryColorRGB), .85);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
}

#submit-form-button:hover {
    transform: scale(1.05);
}

.btn-disabled {
    cursor: not-allowed;
    opacity: .6;
}

.invalid-feedback {
    position: relative;
    padding-left: 5px;
    color: var(--redColor) !important;
    font-weight: 500 !important;
}

.form-control.is-invalid, .form-control.is-invalid:focus {
    border: 2px solid var(--redColor) !important;
    box-shadow: none !important;
    outline: none !important;
    background-image: none !important;
}

.form-control.is-valid, .form-control.is-valid:focus {
    border: 2px solid var(--greenColor) !important;
    box-shadow: none !important;
    outline: none !important;
    background-image: none !important;
}

.other-links {
    font-size: 1.2rem;
    z-index: 100;
    color: var(--primaryColor);
}

.other-links a {
    color: var(--secondaryColor);
    text-decoration: underline;
}