/* Styles for baseLoginRegister HTML template and all of it's extended versions */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/static/img/background.jpeg");
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: Arial, sans-serif;
    background-color: #000000da;
    color: white;
    align-items: center;
    height: 100vh; 
    margin: 0;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    right: 0;
    background: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgb(64, 63, 63);
    overflow: hidden;
}

.logos {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    gap: 40px;
    height: 50px;
    width: auto;
}

.logo {
    height: 80px;
    width: auto;
    padding: 2px;
}

.logo-text {
    height: 60px;
    width: auto;
}

.container {
    position: relative;
    left: 50%;
    top: 7vh;
    transform: translate(-50%, 0);

    background-color: rgb(43, 78, 92);
    padding: 40px 70px;
    
    width: 40%;
    min-width: 600px;
    height: 86vh;

    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    z-index: 2;

    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 

    box-shadow: 0px 0px 8px rgba(133, 133, 133, 0.5);
}

.login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%; 
}

.page-title {
    font-size: 60px;
    color: white;
    
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 15px;
}

#username, #password, #email {
    border-radius: 12px;
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    width: 100%;
    border: none;
    color: rgb(48, 48, 48)
}

#username:focus, #password:focus, #email:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(40, 40, 40, 0.5);
}

#username:hover, #password:hover, #email:hover {
    box-shadow: 0px 0px 8px rgba(169, 223, 232, 0.5);
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit {
    border-radius: 12px;
    padding: 12px;
    font-size: 30px;
    width: 100%;
    background-color: rgb(57, 61, 60);
    color: white;
    border: none;
    cursor: pointer;
}

.passwordInfo {
    display: flex;
    font-size: 20px;
    color: black;
}

.passwordInfo.open {
    display: flex;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

.passwordInfo {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

.other-options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 25px;
    text-align: start;
    width: 100%;
    padding-left: 5px;
}

.other-options p {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.other-options a {
    text-decoration: none;
    color: rgb(59, 190, 247);
    cursor: pointer;
    margin-left: 5px;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%; 
}

.register form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 15px;
}