<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filseries{% block title %}{% endblock %}</title>

    <!-- Meta tags -->
    <meta name="description" content="">
    <meta name="author" content="huger6">
    <meta name="robots" content="follow">
    <meta name="copyright" content="© 2025 huger6">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/favicon.ico')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='icons/favicon-32x32')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='icons/favicon-16x16')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{url_for('static', filename='icons/android-chrome-192x192')}}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{url_for('static', filename='icons/android-chrome-512x512')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/apple-touch-icon')}}">
    <link rel="manifest" href="{{url_for('static', filename='icons/site.webmanifest')}}">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- Core CSS theme -->
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    {% block css %}{% endblock %}
    <script>
        const page = "{{ page }}";
    </script>
    {% block head_scripts %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container-fluid d-flex align-items-center px-0 px-lg-2 px-xl-5 flex-grow-1 gap-2 gap-md-4 gap-xl-5">
                <!-- Brand -->
                <a class="navbar-brand ms-sm-4 ms-lg-5" href="{{url_for('main.home')}}">
                    <img src="{{url_for('static', filename='img/logo/logo.jpeg')}}" alt="Filseries Logo" loading="eager" style="width: 75px; height: 75px;">
                </a>
                <!-- Search bar -->
                <div class="search-container flex-grow-1">
                    <form method="get" action="{{url_for('titles.search')}}">
                        <input class="form-control search-input" type="text" name="title"  placeholder="Search a title">
                        <button type="submit" class="search-icon"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="d-flex align-items-center gap-sm-2 gap-xl-3 gap-xxl-4 ms-3">
                    <!-- Hamburger button -->
                    <button class="navbar-toggler pe-4 custom-navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Alterar modod de navegação">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header m-2 text-center justify-content-start gap-3" style="position: relative;">
                            <a href="{{url_for('main.home')}}" style="text-decoration: none;"><img class="user-select-false" src="{{url_for('static', filename='img/logo/logo.jpeg')}}" alt="Filseries Logo" loading="lazy" style="width: 60px; height: 60px;"></a>
                            <a href="{{url_for('main.home')}}" style="text-decoration: none; margin-left: 5px !important;"><h3 class="user-select-false m-0 p-0" style="color: var(--accentColor); padding-top: 8px !important;" id="brand-name-offcanvas">Filseries</h3></a>
                            <button type="button" class="close-button-hamburger-menu me-4" style="padding-top: 8px !important;" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                        </div>
                        <div class="offcanvas-body pe-2 pe-xl-4 ms-3 ms-md-0">
                            <ul class="navbar-nav justify-content-end flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link mx-xl-1 navbar-option user-select-false hover-underline {% if page == 'home' %}nav-link-active{% endif %}" href="{{url_for('main.home')}}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mx-xl-1 navbar-option user-select-false hover-underline {% if page == 'watchlist' %}nav-link-active{% endif %}" href="{{url_for('watchlist.watchlist')}}">Watchlist</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mx-xl-1 navbar-option user-select-false hover-underline {% if page == 'about' %}nav-link-active{% endif %}" href="{{url_for('main.about')}}">About</a>
                                </li>
                                {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link mx-xl-1 navbar-option user-select-false {% if page == 'user' %}nav-link-active{% endif %}" href="{{url_for('auth.user')}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                        </svg>
                                    </a>
                                </li>
                                {% else %}
                                <li class="nav-item ms-2">
                                    <a class="nav-link mx-xl-1 navbar-option user-select-false {% if page == 'login' %}nav-link-active{% endif %}" href="{{url_for('auth.login')}}" id="login-navbar">Login</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="pt-4 m-0">
        <!-- Alerts -->
        {% with alerts = get_flashed_messages(with_categories=True) %}
            {% if alerts %}
                {% for category, alert in alerts %}
                    <div class="alert alert-{{ category }} alert-dismissable fade show" role="alert">
                        {{ alert }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Content -->
        {% block main %}{% endblock %}
    </main>
    <footer class="container-fluid p-2 mt-auto">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column flex-md-row align-items-start flex-nowrap gap-4 gap-xl-5 g-0">
                <!-- Company -->
                <div class="d-flex align-items-center flex-column flex-md-row flex-nowrap gap-2 gap-lg-4 gap-xl-5 p-0 g-0">
                    <!-- Logo -->
                    <div class="d-flex flex-row align-items-center gap-2 gap-md-3 p-2">
                        <a href="{{url_for('main.home')}}"><img src="../static/img/logo/logo.jpeg" alt="Filseries Logo" loading="lazy" style="width: 50px; height: 50px;"></a>
                        <div class="small m-0 p-0">Copyright &copy; Filseries 2025</div>
                    </div>
                    <div class="d-flex flex-row flex-wrap flex-md-nowrap justify-content-center gap-3 gap-md-4 gap-xl-5">
                        <div class="footer-column">
                            <a class="small" href="{{url_for('main.privacy')}}">Privacy Policy</a>
                        </div>
                    </div>
                </div>
                <!-- Licensing -->
                <div class="d-flex flex-column align-self-center p-0">
                    <div class="small">made by <a href="https://github.com/huger6" target="_blank">huger6</a></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html> 